[includeIf "gitdir:~/Workspace/ynot/"]
  path = ~/.gitconfig-ynot

[user]
	email = iankencruz@gmail.com
	name = ikruz
[pull]
	rebase = true
[fetch]
	prune = true


[pager]
  delta
[core]
	pager = DELTA_FEATURES=+side-by-side delta
[interactive]
	diffFilter = delta --color-only

[delta]
  navigate = true # use n and N to move between diff sections
  line-numbers = true
  dark = true # or light = true, or omit for auto-detection


[merge]
	conflictStyle = zdiff3
